* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #3f3d56;
}
.site-header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #6c63ff, #e4e4e4);
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}
nav {
  width: 100%;
  height: 100px;
}
nav {
  width: 100%;
  height: 100px;
  display: flex;
  color: #3f3d56;
}
.logo {
  width: 50%;
  height: 100px;
  cursor: pointer;
}
.logo h1 {
  line-height: 100px;
  padding-left: 50px;
}
.menu {
  width: 50%;
  height: 100px;
}
.menu ul {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.menu ul li {
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
section {
  display: flex;
}
.left-side {
  width: 50%;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}
.left-side img {
  width: 100%;
  height: 100%;
}
.right-side {
  width: 50%;
  height: auto;
  color: white;
  margin-top: 100px;
  text-align: center;
}
.right-side h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}
.right-side p {
  padding: 30px 0;
  font-size: 20px;
}

.right-side button {
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 35px;
  font-weight: bold;
  border-radius: 5px;
  background: linear-gradient(90deg, #6c63ff, #e4e4e4);
}
.right-side button:hover {
  background: linear-gradient(90deg, #e4e4e4, #6c63ff);
}
